@use './variables';

.container {
  height: calc(100vh - variables.$nav_height-desktop);
  display: flex;
  align-items: center;
}

.main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;

  header {
    margin-bottom: 2em;

    font-weight: 400;
  }
}

.cart {
  border: 1px solid var(--border);
  border-radius: 4px;
}

.products_ctn {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  & > h3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    min-height: 500px;
    border-bottom: 1px solid var(--border);
  }
}

.price_ctn {
  padding: 2em 2em;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-end;
  row-gap: 1em;
  column-gap: 2em;
  border-top: 1px solid var(--border);
}

.detail_wrapper {
  display: flex;
  column-gap: 2em;
}

@media screen and (max-width: 810px) {
  .container {
    height: calc(100vh - variables.$nav_height-mobile);
  }

  .products_ctn {
    & > h3 {
      min-height: 300px;
    }
  }
}
