.main {
  display: flex;
  border-bottom: 1px solid var(--border);
  padding: 2em 2em;
  justify-content: space-between;
  column-gap: 3em;
}

.product_img_wrapper {
  position: relative;
  width: 300px;
}

.product_details {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: flex-end;
  max-width: 50%;
  flex-shrink: 0;
}

.title_wrapper {
  width: 100%;
  white-space: nowrap;
  margin-bottom: 1em;

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
  }
}

.detail_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 158px;
}

.price_wrapper {
  font-weight: 600;
}

@media screen and (max-width: 569px) {
  .product_details {
    width: 50%;

    select {
      padding: 0.2em 0.4em;
    }
  }
  .detail_wrapper {
    width: 100%;
  }
}
