.layout {
  footer {
    margin-top: 100vh;
  }
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.content {
  height: 100%;
  display: flex;

  main {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.main {
  padding: 3em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.subheader {
  margin-bottom: 3em;
  display: flex;
  column-gap: 3em;

  :global(.search_bar) {
    flex: 3 1 auto;
  }

  :global(.sort_by) {
    flex: 1 1 auto;
  }
}

.active_filters_ctn {
  display: flex;
  column-gap: 1em;
  margin-bottom: 3em;
}
.active_filter {
  background-color: var(--border);
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 4px;
  column-gap: 0.5em;

  span {
    user-select: none;
  }

  button {
    cursor: pointer;
  }
}

.grid_container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex: 1;

  :global(.scroller) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: space-between;
    column-gap: 3em;
    row-gap: 3em;
    overflow: hidden;
  }
}

.product_wrapper {
  width: 250px;
  height: 367px;
}
