.container {
  position: relative;
  height: 100vh;
  padding: 2em 0;
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;

  nav {
    position: absolute;
  }

  :global(.two_col_view) {
    height: 100%;
  }

  input[type='number'] {
    background: var(--background);
    border: 1px solid var(--border);
    padding: 0.6em 0.8em;
    border-radius: 4px;
    width: 100%;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.logo_wrapper {
  cursor: pointer;
}

.form_ctn {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2em;
  padding-right: 2em;

  :global(.input_wrapper) {
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 0.2em;
  }

  :global(.flat_btn) {
    align-self: flex-start;
  }
}

$columnGap: 1em;
.inputs_ctn {
  display: flex;
  row-gap: 1.5em;
  column-gap: $columnGap;
  flex-wrap: wrap;

  :global(.full-size) {
    width: 100%;
  }

  :global(.half-size) {
    flex: 1 0 45%;
    max-width: calc(50% - $columnGap/2);
  }
}

.products_ctn {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global(.product_wrapper) {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 5px;
  }
}

.checkbox_wrapper {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1em;
  justify-content: flex-end;
  align-items: center;

  label {
    margin-bottom: 0;
  }
}

.btn_ctn {
  display: flex;
  column-gap: 1em;
}

.next_btn {
  background-color: var(--action-color);
}

.prev_btn {
  background-color: var(--border);
  color: black;
}
