.main {
  padding: 50px;
  background: var(--footer-bg);
  display: flex;
  justify-content: center;

  :global(.col_one) {
    margin-right: 200px;
    display: flex;
    flex-direction: column;
  }

  :global(.col_two) {
    display: grid;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    width: 100%;
    row-gap: 70px;
  }
  h5 {
    margin-bottom: 2em;
  }

  :global(.links_ctn) {
    max-width: 180px;
  }
  :global(.link_wrapper) {
    margin: 20px 0;

    &:hover a {
      text-decoration: underline;
    }
  }
}

.row:not(:first-child) {
  margin-top: 50px;
}

.row {
  :global(.input_wrapper) label {
    font-weight: 700;
    font-size: 1.25em;
    display: block;
  }

  :global(.socials_ctn) {
    flex: 0;
    display: flex;
    column-gap: 15px;
  }

  :global(.social_wrapper) {
    color: var(--background);
    background-color: var(--main-text);
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.row_two {
  display: flex;
  justify-content: space-between;
}

.follow_us {
  flex-basis: 17em;
}

.subscribe_input {
  display: flex;

  input {
    border: none;
    border-radius: 4px 0 0 4px;
  }

  button {
    background-color: var(--action-color);
    padding: 0 1em;
    border-radius: 0 4px 4px 0;
    color: white;
  }
}

.accordion {
  :global(.accordion_title_row) {
    padding: 6px 3px;
    background-color: var(--footer-bg);
  }
}

@media screen and (min-width: 1300px) {
  .content {
    width: 70%;
  }

  .main {
    :global(.col_two) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 1299px) {
  .main {
    :global(.col_two) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
