:root {
  --background: white;
  --border: lightgray;
  --action-color: #e3000b;
  --main-text: black;
  --footer-bg: #ffcf00;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden visible;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', 'sans serif';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 25px;
}

h5 {
  font-size: 18px;
}

p,
button,
div,
span,
input {
  font-size: 14px;
}

input,
textarea,
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.icon_with_text {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.2s ease-out;

  &:hover {
    filter: brightness(0.9);
  }
}

main > section {
  margin: 50px 0;
}

input[type='text'] {
  background: var(--background);
  border: 1px solid var(--border);
  padding: 0.6em 0.8em;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.two_col_view {
  display: flex;
}

.social_wrapper {
  cursor: pointer;
  transition: transform 0.2s ease-out;

  &:hover {
    transform: translateY(-0.4em);
  }
}

.small_text {
  & > * {
    font-size: 0.9em;
  }
}
