.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  z-index: 3;
  background-color: var(--background);
}

.desktop {
  height: 70px;

  .logo_wrapper {
    width: 50%;
  }

  .left {
    grid-template-columns: repeat(4, 1fr);

    .nav_item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.left,
.right {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100%;
}

.right {
  grid-template-columns: repeat(3, 1fr);

  .nav_item {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.nav_item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid var(--border);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #eef5fa;
  }
}

.nav_item:last-child {
  border-right: 1px solid var(--border);
}

.logo_wrapper {
  display: flex;
  align-items: center;
}

.mobile {
  height: 50px;

  .logo_wrapper {
    margin: 0 20px;
  }
}

.pullout_menu {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--background);
}
