.main {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 4px;
}

$row_height: 180px;
.image_row {
  border-bottom: 1px solid var(--border);
  height: $row_height;
  padding: 2em 2.5em;
}

.img_wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.details_ctn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
  padding: 1.5em 2.5em;
}

.top_row {
  width: 60%;
  height: 50%;
  line-height: 1.8em;
}

.title_wrapper {
  h5 {
    font-size: 16px;
    font-weight: 400;
  }
}

.bottom_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_wrapper p {
  font-size: 1.3em;
  font-weight: 600;
}

.add_to_cart {
  background-color: var(--action-color);
  color: var(--background);
  padding: 0.8em 0.8em;
  border-radius: 50%;
}
