.main {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: grid;
  flex-direction: column;
  align-items: center;
}

.main_content {
  display: flex;

  :global(.slide_frame) {
    overflow: hidden;
    position: relative;
    width: max(70%, 772px);
    height: 357.2px;
  }

  :global(.slides_ctn) {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
    width: max-content;
  }
}

.product_wrapper {
  position: relative;
  width: 250px;
}
